.divcenter{
    text-align:center;
}

.bordereddiv{
    border-style: solid;
    border-width: 4px;
    border-color: green;
    display: inline-block;
    padding-right: 20%;
}
#inner2, #inner3{
    list-style: none;
}
